@import 'style/variables';

.container {
  margin: 0 auto;

  h1{
    text-align: center;
  }
}

.section {
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

}

.sectionHero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.item {
  margin-top: $menu-item-margin;
  margin-bottom: $menu-item-margin;

  img {
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
}

.itemPrice{
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.unavailableBlock{
  opacity: 0.25;
}

.unavailableInline{
  text-decoration: line-through;
}