@import 'style/variables';

#flipdish{
  header{
    background-color: rgb(76, 92, 254);
    height: $header-height;

    img{
      margin-top: $header-icon-margin;
      height: $header-height - 2 * $header-icon-margin;
    }
  }
}