// @import '/node_modules/bootstrap/scss/bootstrap.css';
@import 'bootstrap/scss/bootstrap-grid.scss';

.flipdish-app {
  .menu {
    // width: 960px;
    margin: 0 auto;

    h1{
      text-align: center;
    }

    .menu-section {
      &-hero {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
      }

      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      .menu-item {
        img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        }

        .item-unavailble{
          text-decoration: line-through;
        }

        .price-free{
          font-style: italic;
        }
      }
    }
  }
}
